.footer-container1 {
  display: contents;
}
 
.footer-footer-submit-icon {
  transition: transform 0.3s ease;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
